*{
    box-sizing: border-box;
    color: #1A3A3A;
}

img{
    max-height: 200px;
    max-width: 200px;
}

h2 {
    font-weight: 800;
    font-size: xx-large;
}

h1{
    font-size: 64px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

main{
    background-color: #DDC4DD;
    max-width: 960px;
    margin: 0 auto;
}

main:after{
    content: '';
    display: table;
    clear: both;
}



body{
    background-color: #A997DF;
}