*{
    box-sizing: border-box;
    color: #1A3A3A;
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-size: xx-large;
    line-height: normal;
}

h1{
    font-size: 64px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin: 15px;
}

main{
    background-color: #DDC4DD;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding-bottom: 20px;
}

article{
    flex: none;
    background-color: #DCCFEC;
    text-align: center;
    max-height: 345px;
    flex-basis: 300px;
    margin-top: 3%;
}

body{
    background-color: #A997DF;
}

p{
    padding: 5px;
}